<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>jsp_03</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- 초기화 파라미터 설정(initParam) -->
	<!-- 톰캣에게 서버를 시작할때 미리 준비해놓으라고 시키는 설 -> ex08.jsp 와 같이 보기 -->
	<context-param>
		<param-name>param1</param-name>
		<param-value>value1</param-value>
	</context-param>
	<context-param>
		<param-name>param2</param-name>
		<param-value>value2</param-value>
	</context-param>
</web-app>